@media screen and (min-width: 768px) {
    
.fav {
    display: flex;
    align-items: center;
    font-family: 'Big Shoulders Stencil Display', cursive;
}

.fav-title {
    color: #52489C;
    font-size: 20px;
}

.fav-artist {
    color: #575757;
    font-size: 20px;
}

.fav-time {
    color: #616161;
    font-size: 20px;
}

.delete {
    display: flex;
    width: fit-content;
    background-color: aliceblue;
    padding: 0.5rem;
    margin: 0.5rem;
    justify-content: flex-end;
}

.faves {
    font-size: 30px;
    color: #444444;
    font-family: 'Oswald', sans-serif;
}
}