header {
  background-color: #F7E1D7;
  border-bottom: 10px #B25669;
}
.title {
  text-align: left;
  font-size: 50px;
  padding: 10px;
  color: #1A323C;
  font-family: 'Permanent Marker', cursive;
}
.play {
  text-align: right;
  font-size: 15px;
  padding: 10px;
  color: #646882;
  border-bottom: 10px #B25669;
  font-family: 'Sura', serif;
}